.filters {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto;
}

.filters > div {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}

.filters > div > input,
select {
  margin-bottom: 0;
}
